@import '../../variables.scss';

.radioGroup {
  display: flex;

  overflow-x: scroll;
  margin: 0 8px;
  min-height: 56px;
  font-size: 14px;
  color: $darkGray;

  // align-items: center;
  @media (min-width: 768px) {
    overflow-x: unset;
  }
  @media (min-width: 1024px) {
    overflow-x: scroll;
    margin: 0;
  }
  @media (min-width: 1440px) {
    overflow-x: unset;
    margin: 0;
    width: 80%;
  }
}
.carsPhotoContainer {
  overflow: hidden;
  overflow-y: auto;
  margin: 8px 0;

  font-size: 14px;
  @media (min-width: 768px) {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  }
  @media (min-width: 1024px) {
    grid-template-columns: repeat(auto-fit, minmax(256px, 1fr));
  }
  @media (min-width: 1440px) {
    width: 80%;
    grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
    // grid-template-columns: repeat(auto-fit, minmax(369px, 1fr));
  }
}

.radioLabel {
  padding: 0 16px 0 0;
  flex: 0 0 auto;
  display: flex;

  //

  &:hover .radioBtn ~ .customIndicator {
    border-color: $mainAccent;
  }
  &:hover {
    color: black;
  }
}

.customIndicator {
  margin: 0 8px 0 0;
  background-color: white;
  border: 1px solid $darkGray;
  border-radius: 50%;
  height: 12px;
  width: 12px;
}
.radioBtn {
  padding: 0 0 0 8px;
  margin: 0px 4px 0px 0;
  //
  opacity: 0;
  z-index: -1;
  &:focus ~ .customIndicator {
    border-color: $mainAccent;
    border: 3px solid $mainAccent;
  }

  &:checked ~ .customIndicator {
    border: 3px solid $mainAccent;
  }
  &:active {
    color: black;
  }
}
