@import '../../variables.scss';

.radioGroup {
  // position: sticky;
  // top: 0;
  // z-index: 10;
  // background: white;
  margin: 0 8px;
  display: flex;
  align-items: center;
  min-height: 56px;
  overflow-x: scroll;
  font-size: 14px;
  @media (min-width: 768px) {
    overflow-x: unset;
  }
  @media (min-width: 1024px) {
    overflow-x: scroll;
    margin: 0;
  }
  @media (min-width: 1440px) {
    overflow-x: unset;
    margin: 0;
    width: 80%;
  }
}
.carsPhotoContainer {
  overflow: hidden;
  overflow-y: auto;
  margin: 8px 0;

  font-size: 14px;
  @media (min-width: 768px) {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  }
  @media (min-width: 1024px) {
    grid-template-columns: repeat(auto-fit, minmax(256px, 1fr));
  }
  @media (min-width: 1440px) {
    width: 80%;
    grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
    // grid-template-columns: repeat(auto-fit, minmax(369px, 1fr));
  }
}

.labelInput {
  padding: 0 16px 0 0;
  flex: 0 0 auto;
}
.input {
  padding: 0 0 0 8px;
  margin: 0px 4px 0px 0;
}
