@import '../../variables.scss';

.orderPageContainer {
  display: flex;
  height: 100vh;
  flex-direction: column;

  @media (min-width: 768px) {
    width: 100%;
    height: 100vh;
    display: flex;
  }
}

.header {
  display: flex;
  flex-direction: column;
  margin: 0 8px 0 8px;
  @media (min-width: 768px) {
    height: 130px;
    margin: 0px 32px 0 96px;
  }
  // @media (min-width: 1024px) {
  //   margin: 0px 32px 0 96px;
  // }
  @media (min-width: 1440px) {
    margin: 0px 64px 0 128px;
  }
}
.breadCrumbsWrapper {
  border-top: 1px solid $lightGray;
  border-bottom: 1px solid $lightGray;

  @media (min-width: 768px) {
  }
  @media (min-width: 1440px) {
    padding: 0;
  }
}

.orderWrapper {
  flex: 1 1 auto;
  overflow: hidden;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  // 48-49 добавлено
  @media (min-width: 768px) {
    padding: 0 32px 0 96px;
  }
  @media (min-width: 1024px) {
    flex-direction: row;
    margin: 0;
    padding: 0 32px 0 96px;
    height: 100%;
  }
  @media (min-width: 1440px) {
    padding: 0 64px 0 128px;
  }
}
.steps {
  @media (min-width: 768px) {
    flex-direction: column;
  }
  @media (min-width: 1024px) {
    padding: 32px 32px 32px 0;
    display: flex;
    flex: 0 1 60%;
    border-right: 1px solid $lightGray;
  }
  @media (min-width: 1440px) {
    padding: 32px 0 32px 0;
    display: flex;
    flex: 0 1 73%;
  }
}
.select {
  @media (min-width: 1024px) {
  }
}
.orderInfo {
  display: none;
  position: fixed;
  height: 100%;
  bottom: 0;
  background: white;
  &.active {
    display: block;
    width: 100%;
    top: 118px;
    @media (min-width: 768px) {
      padding: 0 128px 0 0px;
      width: 100%;
      position: fixed;
      height: 100%;
      bottom: 0;
      background: white;
    }
    @media (min-width: 1024px) {
      display: none;
    }
  }
  @media (min-width: 1024px) {
    display: block;
    position: static;
    flex: 0 0 40%;
  }
  @media (min-width: 1440px) {
    flex: 0 0 27%;
    height: 100%;
  }
}
.btn {
  display: block;
  @media (min-width: 1024px) {
    display: none;
  }
}
.orderBurger {
  display: flex;
}
