@import '../../variables.scss';

.orderPageContainer {
  display: flex;
  height: 100vh;
  flex-direction: column;

  @media (min-width: 768px) {
    width: 100%;
    height: 100vh;
    display: flex;
  }
}

.header {
  display: flex;
  flex-direction: column;
  margin: 0 16px 0 16px;
  @media (min-width: 768px) {
    height: 88px;
    margin: 0px 32px 0 96px;
  }
  @media (min-width: 1024px) {
    height: 88px;
    margin: 0px 32px 0 96px;
  }
  @media (min-width: 1440px) {
    height: 88px;
    margin: 0px 64px 0 128px;
  }
}
.breadCrumbsWrapper {
  border-top: 1px solid $lightGray;
  border-bottom: 1px solid $lightGray;
  padding: 0 8px;

  @media (min-width: 768px) {
    padding: 0 32px 0 96px;
  }
  @media (min-width: 1440px) {
    padding: 0 64px 0 128px;
  }
}

.orderWrapper {
  overflow: hidden;
  overflow-y: auto;
  @media (min-width: 768px) {
    padding: 0 32px 0 96px;
  }
  @media (min-width: 1024px) {
    display: flex;
    margin: 0;
    padding: 0 32px 0 96px;
    height: 100%;
  }
  @media (min-width: 1440px) {
    padding: 0 64px 0 128px;
  }
}
.steps {
  @media (min-width: 768px) {
    flex-direction: column;
  }
  @media (min-width: 1024px) {
    padding: 32px 32px 32px 0;
    display: flex;
    flex: 0 1 60%;
    border-right: 1px solid $lightGray;
  }
  @media (min-width: 1440px) {
    padding: 32px 0 32px 0;
    display: flex;
    flex: 0 1 73%;
  }
}
.select {
  @media (min-width: 1024px) {
  }
}
.orderInfo {
  @media (min-width: 1024px) {
    flex: 0 0 40%;
  }
  @media (min-width: 1440px) {
    flex: 0 0 27%;
    height: 100%;
  }
}
