@import '../../_variables.scss';
.arrowPrev {
  position: absolute;
  z-index: 20;
  transform: rotate(180deg);
  top: calc(50% - 18px);
  left: calc(50% - 8px);
}
.arrowNext {
  position: absolute;
  top: calc(50% - 18px);
  right: calc(50% - 8px);
  z-index: 20;
}
.sliderNavNext {
  position: absolute;
  width: 64px;
  height: 100%;
  z-index: 15;
  cursor: pointer;
  right: 0;
  user-select: none;

  &:hover {
    background-color: rgba(14, 194, 97, 0.2);
  }
  @media (max-width: 1439px) {
    width: 32px;
  }
}

.sliderNavPrev {
  position: absolute;
  width: 64px;
  height: 100%;
  z-index: 15;
  cursor: pointer;
  left: 0;
  user-select: none;
  &:hover {
    background-color: rgba(14, 194, 97, 0.2);
  }
  @media (max-width: 1439px) {
    width: 32px;
  }
}
