@import '../../variables.scss';

.mainContainer {
  display: flex;
  height: 100vh;
}

.mainPageContainer {
  // этих стилей не было
  display: flex;
  height: 100vh;
  //
  flex: 1 1 50%;
}
.sliderContainer {
  flex: 1 1 50%;
}
