@import '../../_variables.scss';
.orderSteps {
  border: 1px solid red;
  flex: 1 1 auto;
  background: violet;
}
.orderStepsWrapper {
  display: flex;
  align-items: stretch;
}

.direction {
  flex: 1 1 73%;
  background: gray;
}

.orderInfo {
  flex: 1 1 27%;
  background: navy;
  height: 200px;
}
