@import '../../variables.scss';

.extendsContainer {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: $darkGray;
}

.radioGroup {
  display: flex;
  //   overflow-x: scroll;
  margin: 0 8px;
  &:hover .radioBtn ~ .customIndicator {
    border-color: $mainAccent;
  }
  &:hover {
    color: black;
  }
  &.active {
    color: black;
  }
  @media (min-width: 768px) {
    overflow-x: unset;
  }
  @media (min-width: 1024px) {
    // overflow-x: scroll;
    margin: 0;
  }
  @media (min-width: 1440px) {
    overflow-x: unset;
    margin: 0;
    width: 80%;
  }
}

.extendsTtl {
  color: $mainBlack;
  margin: 16px 8px 0 8px;
  // @media (min-width: 1024px) {
  //   margin: 0;
  // }
}
.extendsTtlT {
  color: $mainBlack;
  margin: 16px 8px 0 8px;
  @media (min-width: 1024px) {
    margin: 32px 8px 0 8px;
  }
}
.radioGroupColor {
  display: flex;
  margin: 8px 8px 0 8px;
  //   @media (min-width: 768px) {
  //     overflow-x: unset;
  //   }
  @media (min-width: 1024px) {
    // overflow-x: scroll;
    margin: 16px 0 32px 0;
  }
  //   @media (min-width: 1440px) {
  //     overflow-x: unset;
  //     margin: 0;
  //     width: 80%;
  //   }
}
.radioGroupRate {
  display: flex;
  margin: 8px 8px 0 8px;
  flex-direction: column;
  align-items: flex-start;
  //   @media (min-width: 768px) {
  //     overflow-x: unset;
  //   }
  @media (min-width: 1024px) {
    margin: 16px 0 32px 0;
  }
  //   @media (min-width: 1440px) {
  //     overflow-x: unset;
  //     margin: 0;
  //     width: 80%;
  //   }
}
.checkboxGroup {
  display: flex;
  margin: 8px 8px 0 8px;
  align-items: flex-start;

  //   @media (min-width: 768px) {
  //     overflow-x: unset;
  //   }
  @media (min-width: 1024px) {
    margin: 16px 0 0 0;
  }
  //   @media (min-width: 1440px) {
  //     overflow-x: unset;
  //     margin: 0;
  //     width: 80%;
  //   }
}
.radioLabel {
  padding: 0 10px 4px 0;
  flex: 0 0 auto;
  display: flex;
  flex-direction: row-reverse;
  border-radius: 50%;
  cursor: pointer;

  .active {
    color: black;
  }
  &:hover .radioBtn ~ .customIndicator {
    border-color: $mainAccent;
  }
  &:hover {
    color: black;
  }
}

.customIndicator {
  margin: 1px 4px 0 0;
  background-color: white;
  border: 1px solid $darkGray;
  border-radius: 50%;
  height: 11px;
  width: 11px;
}
.customCheckbox {
  display: inline-block;
  margin: 0 4px 0 0;
  background-color: white;
  border: 1px solid $darkGray;
  height: 14px;
  width: 14px;
}
.radioBtn {
  display: none;
  opacity: 0;
  z-index: -1;

  &:focus ~ .customIndicator {
    border-color: $mainAccent;
    border: 3px solid $mainAccent;
  }

  &:checked ~ .customIndicator {
    border: 3px solid $mainAccent;
  }
}
.checkBtn {
  display: none;
  opacity: 0;
  z-index: -1;

  &:focus ~ .customCheckbox {
    border-color: $mainAccent;
    border: 2px solid $mainAccent;
  }

  &:checked ~ .customCheckbox {
    border: 2px solid $mainAccent;
    &:after {
      content: '\2713';
      color: black;
    }
  }
  &:active {
    color: black;
    &:after {
      content: '\2713';
      color: black;
    }
  }
}
