@import '../../variables.scss';

.extendsContainer {
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;
}
.radioBtn {
  :checked {
    background-color: orange;
  }
}
// .datapickerWrapper {
//   padding-bottom: 13px;
//   display: flex;
//   flex: 1 0 220px;
//   span {
//     display: flex;
//     justify-content: flex-end;
//     align-items: flex-end;
//     flex: 1 0 18px;
//     padding-right: 4px;
//     color: black;
//     font-style: normal;
//     font-weight: 300;
//     font-size: 14px;
//     line-height: 16px;
//   }
//   .datapicker {
//     border: none;
//     border-bottom: 1px solid gray;
//     outline: none;
//     padding-left: 8px;
//   }
// }

.radioContainer {
  display: flex;
}
.radioLabel {
  display: flex;
  flex-direction: row-reverse;
  border-radius: 50%;
  cursor: pointer;
  padding: 10px 0;

  &:hover .radioBtn ~ .customIndicator {
    border-color: $mainAccent;
  }
}

.customIndicator {
  margin: 0 8px 0 0;
  background-color: white;
  border: 1px solid $darkGray;
  border-radius: 50%;
  height: 12px;
  width: 12px;
}

.radioBtn {
  opacity: 0;
  z-index: -1;

  &:focus ~ .customIndicator {
    border-color: $mainAccent;
  }

  &:checked ~ .customIndicator {
    border: 3px solid $mainAccent;
  }
}

.radioText {
}
