@import '../../_variables.scss';
.container {
  margin: 0 32px 0 128px;
}

.header {
  display: flex;
  margin-top: 32px;
  justify-content: space-between;
}
.heroBlock {
  flex: 1 1 auto;
}
.logo {
}
.map {
}
.btn {
  width: 250px;
  height: 48px;
  color: #ffffff;
  background: linear-gradient(90deg, #0ec261 2.61%, #039f67 112.6%);
  background-blend-mode: darken;
  border-radius: 8px;
}
.title {
  color: $mainBlack;
  font-weight: 700;
}
.subTitle {
  color: $mainAccent;
  font-weight: 700;
}
.text {
  color: $darkGray;
  font-weight: 260;
}

.footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footerInfo {
  color: $darkGray;
}
.footerContact {
  color: $mainBlack;
}
