@import '../../_variables.scss';
.container {
  display: flex;
  height: 100vh;
  flex-direction: column;
  @media (min-width: 768px) {
    padding: 0px 32px 0px 98px;
  }
}

.heroBlock {
  display: flex;
  flex: 1 1 auto;
  height: 100%;
  flex-direction: column;
  justify-content: flex-start;
  font-size: 32px;
  line-height: 100%;

  .title {
    padding: 0 16px;
    color: $mainBlack;
    font-weight: 700;
    font-size: 32px;
    line-height: 100%;
    @media (min-width: 768px) {
      padding: 0;
      font-size: 70px;
      line-height: 66px;
    }
  }
  .subTitle {
    padding: 0 16px;
    color: $mainAccent;
    font-weight: 700;
    font-size: 32px;
    line-height: 100%;
    @media (min-width: 768px) {
      padding: 0;
      font-size: 70px;
      line-height: 66px;
    }
  }
  .text {
    padding: 0 16px;
    color: $darkGray;
    font-weight: 300;
    font-size: 26px;
    font-size: 18px;
    line-height: 21px;
    @media (min-width: 768px) {
      padding: 0;
      font-size: 26px;
      line-height: 30px;
    }
  }
  @media (min-width: 768px) {
    justify-content: center;
  }
}

.btn {
  width: 100vw;
  height: 48px;
  margin: 32px 0;
  color: #ffffff;
  background: linear-gradient(90deg, #0ec261 2.61%, #039f67 112.6%);
  background-blend-mode: darken;
  font-size: 18px;
  line-height: 21px;
  border: none;
  outline: none;
  &:hover {
    background: linear-gradient(
      90deg,
      darken(#0ec261, 10) 2.61%,
      darken(#039f67, 10) 112.6%
    );
  }

  &:focus {
    background: linear-gradient(
      90deg,
      darken(#0ec261, 10) 2.61%,
      darken(#039f67, 10) 112.6%
    );
  }
  &:active {
    background: linear-gradient(
      90deg,
      darken(#0ec261, 20) 2.61%,
      darken(#039f67, 20) 112.6%
    );
  }
  @media (min-width: 768px) {
    width: 250px;
    border-radius: 8px;
  }
}
