@import '../../variables.scss';

.container {
  position: absolute;
  height: 100vh;
  width: 100%;
  display: flex;
}

.sidebar {
  flex: 0 0 64px;
  background-color: $backgroundDark;
}
.sidebar a {
  color: $lightGray;
}

.faBars {
  width: 32px;
  height: 32px;
  fill: #ffffff;
}

.navContainer {
  flex: 1 1 50%;
  height: 100vh;
}
.navText {
  background-color: $backgroundDark;
  list-style: none;
  height: 100vh;
}

.navText a {
  font-size: 32px;
  text-transform: uppercase;
  color: $lightGray;
  text-decoration: none;
  width: 50%;
  height: 100%;
  padding: 0 16px;
}
.navText a:hover {
  color: $mainAccent;
}

.navIcon {
  display: flex;
  list-style: none;
  margin: 32px 16px;
}
.navIcon :hover {
  fill: $mainAccent;
}
.icon {
  margin-right: 24px;
}

.shadow {
  background-color: $mainBlack;
  opacity: 0.8;
  flex: 1 1 50%;
  @media (max-width: 1023px) {
    display: none;
  }
}
// @media (max-width: 1400px) {
//   .container {
//     max-width: 970px;
//   }
// }
// @media (max-width: 992px) {
//   .container {
//     max-width: 750px;
//   }
// }
// @media (max-width: 767px) {
//   .container {
//     max-width: none;
//   }
// }
