@import '../../variables.scss';

.container {
  z-index: 20;
  display: flex;
  position: absolute;
  height: 100vh;
  width: 64px;
  z-index: 20;
  &.active {
    width: 100%;
  }
}

.sidebar {
  height: 100%;
  padding: 24px 0;
  flex: 0 0 64px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  &.active {
    background-color: $backgroundDark;
  }
  @media (min-width: 768px) {
    background-color: $backgroundDark;
  }
}

.sidebar {
  svg {
    path {
      stroke: $mainBlack;
      @media (max-width: 767px) {
        stroke: white;
      }
    }
  }
  .line {
    path {
      stroke: white;
      @media (max-width: 767px) {
        stroke: black;
      }
    }
  }
  .close {
    path {
      stroke: white;
    }
  }
}

.sidebar a {
  color: $lightGray;
}

.lang {
  @media (min-width: 768px) {
  }

  width: 48px;
  height: 48px;
  border-radius: 50%;
  border: none;
  outline: none;
  background-color: $backgroundDark;
  &:hover {
    border: 1px solid $lightGray;
    &:hover > div {
      color: $lightGray;
    }
    &:active > div {
      color: $mainAccent;
    }
  }
  & > div {
    color: $mainAccent;
  }
  @media (max-width: 767px) {
    display: none;
  }
  &.hidden {
    display: none;
    @media (max-width: 767px) {
      display: block;
    }
  }
}

.navContainer {
  display: flex;
  flex-direction: column;
  background-color: $backgroundDark;
  width: 100%;
  padding: 80px 0;
  @media (min-width: 768px) {
    flex: 1 1 100%;
  }
  @media (min-width: 1024px) {
    flex: 0 1 calc(60% - 64px);
  }
  @media (min-width: 1440px) {
    flex: 0 1 calc(50% - 64px);
  }
}

.shadow {
  display: none;
  @media (min-width: 1024px) {
    display: flex;
    flex: 0 1 40%;
    height: 100vh;
    background-color: $mainBlack;
    opacity: 0.8;
  }
  @media (min-width: 1440px) {
    flex: 0 1 50%;
  }
}
.navText {
  font-weight: 500;
  font-size: 22px;
  line-height: 2.5rem;
  text-transform: uppercase;

  @media (min-width: 768px) {
    line-height: 3.5rem;
    display: flex;
    height: 100vh;
    font-size: 32px;
    margin: 0 64px;
    align-items: center;
  }
  @media (min-width: 1024px) {
  }
}
.navText a {
  color: $lightGray;
  text-decoration: none;
}
.navText a:hover {
  color: $mainAccent;
}

.navIcon {
  display: flex;
  justify-content: space-between;
  width: 144px;
  margin: 32px 0;
}
.navIcon :hover {
  fill: $mainAccent;
}
.icon:hover path {
  fill: $mainAccent;
}
