@import '../../variables.scss';

.container {
  z-index: 20;
  display: flex;
  position: absolute;
  height: 100vh;
  width: 64px;
  z-index: 20;
  &.active {
    width: 100%;
  }
}

.sidebar {
  height: 100%;
  padding: 16px 0;
  flex: 0 0 64px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  &.active {
    background-color: $backgroundDark;
  }
  @media (min-width: 768px) {
    padding: 24px 0;
    background-color: $backgroundDark;
  }
}

.sidebar {
  svg {
    cursor: pointer;
    path {
      stroke: $mainBlack;
      @media (max-width: 767px) {
        stroke: white;
      }
    }
  }
  .line {
    path {
      stroke: white;
      @media (max-width: 767px) {
        stroke: black;
      }
    }
  }
  .close {
    path {
      stroke: white;
    }
  }
}

.sidebar a {
  color: $lightGray;
}

.lang {
  font-weight: bold;
  font-size: 13px;
  line-height: 15px;
  @media (min-width: 768px) {
  }
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border: none;
  outline: none;
  background-color: $backgroundDark;
  &:hover {
    border: 1px solid $lightGray;
    &:hover > div {
      color: $lightGray;
    }
    &:active > div {
      color: $mainAccent;
    }
  }
  & > div {
    color: $mainAccent;
  }
  @media (max-width: 767px) {
    display: none;
  }
  &.hidden {
    display: none;
    @media (max-width: 767px) {
      display: block;
    }
  }
}
///////
