@import '../../../../variables.scss';
.ttl {
  padding: 0 8px 0 0;
  @media (min-width: 1024px) {
    top: 27px;
    bottom: 2px;
  }
}

.spots {
  color: $darkGray;
  padding: 0 0 0 8px;
  text-align: right;
  @media (min-width: 1024px) {
    right: 0px;
  }
}

.dottedBottom {
  content: '';
  flex-grow: 1;
  border-bottom: 0.2em dotted #999999;
  margin-bottom: 4px;
}
