@import '../../variables.scss';
.orderContainer {
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  @media (min-width: 1024px) {
    font-size: 18px;
    padding: 48px 0 0 32px;
  }
  @media (min-width: 1024px) {
  }
}

.orderTitle {
  padding: 8px 8px 0 8px;
  font-weight: 500;
  line-height: 21px;
  text-align: right;
  @media (min-width: 768px) {
    text-align: left;
    font-size: 18px;
    padding: 16px 0 0 0;
  }
  @media (min-width: 1024px) {
    text-align: right;
    padding: 8px 8px 0 8px;
  }
}

.locationStep {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  width: 100%;
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;
  padding: 8px 8px;

  @media (min-width: 768px) {
    // padding: 0 0;
  }
  @media (min-width: 1024px) {
    padding: 0 0;
    width: 100%;
    height: 44px;
  }
}

.totalPrice {
  text-align: right;
  margin: 8px 8px 0 0;

  @media (min-width: 768px) {
    display: flex;
    text-align: left;
  }

  @media (min-width: 1024px) {
    display: flex;
    width: 100%;
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
    margin: 32px 0 32px 0;
    text-align: right;
  }
}
.priceLabel {
  font-weight: 700;
  align-items: baseline;

  @media (min-width: 768px) {
    display: flex;
    font-size: 18px;
    margin: 0 8px 0 0;
  }
  @media (min-width: 1024px) {
    display: flex;
    justify-content: flex-end;
    margin: 0 8px 24px 0;
  }
}
.price {
  font-weight: 400;
  padding: 0 0 0 8px;
  font-size: 16px;
  line-height: 16px;
}
.btn {
  display: none;
  @media (min-width: 1024px) {
    display: block;
  }
}
