@import '../../../variables.scss';
.burger {
  top: 16px;
  left: 16px;
  position: absolute;
  z-index: 25;
  @media (min-width: 768px) {
    top: 24px;
  }
  svg {
    cursor: pointer;
    path {
      stroke: white;
      @media (min-width: 768px) {
        stroke: $mainBlack;
      }
    }
  }
  .line {
    path {
      stroke: black;
      @media (min-width: 768px) {
        stroke: white;
      }
    }
  }
  .close {
    path {
      stroke: white;
    }
  }
}

.burger a {
  color: $lightGray;
}
